html
  body
    div(style={margin: 30})
      h3 Single Page
      p(style={color: colour}) Username: &nbsp #{user} &nbsp
      p(style={color: colour}) tweet: #{tweet} &nbsp
      a(href='/' style={color: tweet.colour})  HOME
